/* CSS Reset */
* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    141.71deg,
    rgba(227, 227, 227, 0.74) 0%,
    rgba(151, 151, 151, 0.53) 100%
  );
  /* background: #fff; */
}

ul,
li {
  padding: 0;
  list-style: none;
}

/* 侧边栏样式 */
.side-menu {
  position: relative;
  width: 180px;
  height: 520px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: width 0.2s ease;
}

/* 侧边栏选项样式 */
.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 12px;
  margin: 16px 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #606266;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s linear;
}

.menu-item i {
  font-size: 16px;
}

.menu-text {
  margin-left: 8px;
  transition: opacity 0.1s ease;
}

/* 选项悬浮样式 */
.menu-item:hover {
  background-color: #eff0f0;
}

/* 选项选中样式 */
.menu-item.active {
  color: #fff;
  background-color: #1fd2a9;
}

/* 收缩侧边栏后的气泡提示：popover */
.popover {
  position: absolute;
  display: none;
  top: 50%;
  left: calc(100% + 8px);
  transform: translateY(-50%);
  padding: 8px;
  border-radius: 2px;
  font-size: 12px;
  color: #333;
  background-color: #fff;
  box-shadow: 0px 6px 6px rgb(0 0 0 / 10%);
}

/* CSS 三角形：arrow-left */
.popover::before {
  position: absolute;
  content: "";
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-right-color: #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.toggle {
  position: absolute;
  justify-content: center;
  width: calc(100% - 20px);
  padding: 0;
  bottom: 10px;
}

.toggle i {
  font-size: 24px;
  transition: transform 0.2s ease;
}

/* 收缩侧边栏的动画样式：collapsible */
.side-menu.collapsible {
  width: 42px;
}

.side-menu.collapsible .menu-text {
  opacity: 0;
}

.side-menu.collapsible .toggle i {
  transform: rotate(180deg);
}

.side-menu.collapsible .menu-item:hover .popover {
  display: inline-block;
}
